.updateListsWrapper {
    width: 80%;
    margin: auto;
}

.updateListsWrapper h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
}

.updateListsWrapper .updateItems {
    width: 100%;
    /* height: 500px; */
    padding: 20px;
    margin: 40px auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 13.2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.updateItems div {
    width: 50%;
}

.updateItems img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.updateItems h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #230F93;
}

.updateItems h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FE0000;
}

.updateItems p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-transform: capitalize;
    color: #5C5C5C;
}

.seeMore {
  color: #1976d2;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}