.container {
    width: 85%;
    margin: auto;
    margin: 50px auto;
}
.container h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    width: 342px;
    margin: auto;
    margin-bottom: 30px;
    padding-bottom: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    border-bottom: 2px solid #FE0000;
}

.container .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.container .flex .relative img {
    position: relative;
    object-fit: cover;
    width: 535px;
    height: 535px;
    box-shadow: 0px 4px 6.6px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    z-index: 10;
}

.flex p {
    width: 540px;
    height: 360px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    text-transform: capitalize;
    color: #5C5C5C;
}

.flex a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 282px;
    height: 61px;
    margin-top: 30px;
    background: #230F93;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.flex a:hover {
    background: #170966;
}

.flex .relative {
    position: relative;
}

.flex .relative div {
    position: absolute;
    top: 12px;
    left: 18px;
    width: 527px;
    height: 537px;
    background: #FE0000;
    box-shadow: 0px 4px 10.6px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    z-index: 0;
}

@media (max-width: 1200px) {
    .container .flex .relative img {
        width: 450px;
    }

    .flex .relative div {
        width: 440px;
    }

    .flex p {
        width: 450px;
        height: auto;
    }
}

@media (max-width: 1080px) {
    .flex div {
        width: 100%;
    }

    .container .flex .relative {
        text-align: center;
    }
    .container .flex .relative img {
        width: 590px;
        margin: auto;
    }

    .flex .relative div {
        width: 590px;
        margin: auto;
        right: 0px;
    }

    .container .flex {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .container .flex p {
        text-align: center;
        margin: auto;
        width: 600px;
    }

    .container .flex a {
        margin: auto;
    }
}

@media (max-width: 700px) {

    .container .flex p {
        text-align: center;
        margin: auto;
        width: 90%;
    }
    .container .flex .relative img {
        width: 90%;
        margin: auto;
        height: 361px;
    }

    .flex .relative div {
        width: 90%;
        margin: auto;
        right: 0px;
        height: 361px;
    }
}

@media (max-width: 500px) {
    .container h1 {
        font-size: 14px;
        width: 261px;
        margin: auto;
        margin-bottom: 0px;
        padding-bottom: 20px;
        line-height: 24px;
    }

    .container .flex p {
        width: 100%;
    }

    .flex a {
        height: 52px;
        width: 100%;
    }

    .container .flex .relative img {
        width: 100%;
    }

    .flex .relative div {
        width: 98%;

    }
}